.main_wrap {
    display: flex;

    @media (max-width: 1279px) {
        flex-direction: column-reverse;
    }
}

.logo_wrap {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 600px;

    @media (max-width: 1279px) {
        margin: 46px auto;
        width: 100%;
    }

    @media (max-width: 768px) {
        margin: 16px auto;
    }

    .logo {
        width: 270px;
        height: 270px;

        @media (max-width: 768px) {
            width: 188px;
            height: 188px;
        }

        @media (max-width: 481px) {
            width: 128px;
            height: 128px;
        }
    }

    h1 {
        font-family: "Bebas Neue Book", sans-serif;
        width: 280px;
        font-size: 56px;
        margin-top: 89px;
        margin-left: 34px;
        position: relative;
        color: var(--dark-gray);

        @media (max-width: 768px) {
            font-size: 38px;
            width: 186px;
            margin-top: 82px;
        }

        @media (max-width: 481px) {
            margin-left: 23px;
            font-size: 25px;
            width: 116px;
            margin-top: 73px;
        }
    }

    span {
        font-family: "Bebas Neue Bold", sans-serif;
    }

    h1::before {
        content: "";
        background-color: var(--dark-gray);
        position: absolute;
        width: 3px;
        height: 155px;
        top: 0;
        left: -19px;

        @media (max-width: 768px) {
            height: 108px;
        }

        @media (max-width: 481px) {
            height: 71px;
            left: -14px;
        }
    }
}
