.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid lightgray;

    ul {
        list-style: none;
        display: flex;
        gap: 32px;
    }

    li {
        padding: 8px 24px;
    }

    li:first-child > a {
        // TODO: use dynamic class instead
        color: var(--primary);
    }

    li:last-child {
        border: var(--primary) 2px solid;
    }

    a {
        font-size: 14px;
        font-size: 14px;
        font-weight: 600;
    }

    a:hover {
        color: var(--primary);
        text-decoration: underline;
    }
}
