.footer {
    background-color: var(--dark);

    padding: 32px 0 0;
    color: var(--light-gray);

    p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 32px;
    }
}

.footerWrap {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 48px;
    padding: 32px 0;
}

.firstBlock {
    border-right: 1px solid var(--light-gray);
    padding-right: 18px;
}

.bottom {
    padding: 16px 0;
    text-align: center;
    background-color: #414840 !important;
    font-size: 14px;
}
