.frame {
    height: 660px;
    width: 478px;
    margin: 48px auto 0;
    border-top-right-radius: 239px;
    border-top-left-radius: 239px;
    border-color: var(--light-gray);
    border-style: solid;
    border-width: 3px;
    position: relative;

    @media (max-width: 1279px) {
        height: 462px;
        width: 334px;
        margin: 48px auto 0;
        border-top-right-radius: 167px;
        border-top-left-radius: 167px;
        border-width: 3px;
    }

    @media (max-width: 768px) {
        height: 323px;
        width: 233px;
    }
}

.image_container {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 232px;
    border-top-left-radius: 232px;
}
